.contacts-wrapper {
  margin: 0 auto;
  padding: 5px 10px;
  width: 280px;
  height: 100%;
  background-color: white;
  border: 1px solid limegreen;
  border-radius: 20px;
}

.contact_heading {
  width: fit-content;
  display: block;
  margin: 2px auto;
  padding: 4px 22px;
  background-color: hsla(47, 92%, 64%, 1);
  border-radius: 10px;
  text-transform: uppercase;
}

.contacts__adress-link {
  display: block;
}

.time-zone {
  display: block;
}
