.footer-text {
  color: #fcfcfc;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-title {
  color: #fcfcfc;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-block-end: 60px;
}

.social-media-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-block-end: 20px;
}

.social-media-list li {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #f8d34f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.contact-info {
  width: fit-content;
  margin-inline-start: auto;
  margin-block-end: 15px;
  color: #131313;
  font-size: 12px;
  font-weight: 700;
  line-height: 186%; /* 22.32px */
}

.contact-info a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 186%; /* 22.32px */
}

.copyrights-section {
  text-align: center;
  text-wrap: balance;
}

.copyright-p {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 700;
  line-height: 152%; /* 21.28px */
}
