<section class="container">
  <p>Tradycja i miłość</p>
  <h3>Jak to robimy?</h3>
  <img src="#" alt="#" class="img__cow" />
  <p class="made-parag">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui modi quisquam ullam, quae
    praesentium delectus non neque maiores dignissimos totam odit corrupti quaerat necessitatibus
    laborum. Architecto quae laudantium nisi vitae at mollitia dolorum, labore nemo odit harum,
    eveniet voluptate natus?
  </p>
  <button class="btn__readmore">Read More <svg width="10px" height="10px"></svg></button>
</section>
