<section class="adventages-section">
  <div class="container">
    <h2 class="is-hidden">Adventages</h2>
    <div class="advanteges-wrapper">
      <div class="adventages">
        <span class="circle"
          ><svg width="36px" height="36px">
            <use href="/src/images/icons.svg#icon-cow" class="adventages-icon"></use></svg
        ></span>
        <h3 class="adventages-heading">721</h3>
        <p class="adventages-par">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="adventages">
        <span class="circle"
          ><svg width="36px" height="36px">
            <use href="/src/images/icons.svg#icon-weight" class="adventages-icon"></use></svg
        ></span>
        <h3 class="adventages-heading">16kg</h3>
        <p class="adventages-par">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="adventages">
        <span class="circle"
          ><svg width="36px" height="36px">
            <use
              href="/src/images/icons.svg#icon-kebab-withoutfill"
              class="adventages-icon"
            ></use></svg
        ></span>
        <h3 class="adventages-heading">12</h3>
        <p class="adventages-par">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
