<section class="adventages-section">
  <div class="container">
    <h2 class="is-hidden">Adventages</h2>
    <ul>
      <li>
        <svg width="10px" height="10px">
          <use></use>
        </svg>
        <h4></h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, magnam!</p>
      </li>
      <li>
        <svg width="10px" height="10px">
          <use></use>
        </svg>
        <h4></h4>
        <p>
          Quasi itaque consectetur error praesentium voluptates voluptatibus perferendis culpa
          eveniet!
        </p>
      </li>
      <li>
        <svg width="10px" height="10px">
          <use></use>
        </svg>
        <h4></h4>
        <p>Assumenda illo cum consequatur hic quidem vero. Illo, sunt ratione?</p>
      </li>
    </ul>
  </div>
</section>
