<section class="container">
  <ul>
    <li>
      <div class="contact-location">
        <p class="contact_heading"></p>
        <a href="" class="contacts__adress-link"></a>
      </div>
      <div class="contacts-worktime">
        <p></p>
      </div>
      <div class="contacts-contacts"></div>
    </li>
    <li>
      <div class="contact-location">
        <p class="contact_heading"><a href="" class="contacts__adress-link"></a></p>
      </div>
      <div class="contacts-worktime">
        <p></p>
      </div>
      <div class="contacts-contacts"></div>
    </li>
    <li>
      <div class="contact-location">
        <p class="contact_heading"><a href="" class="contacts__adress-link"></a></p>
      </div>
      <div class="contacts-worktime">
        <p></p>
      </div>
      <div class="contacts-contacts"></div>
    </li>
  </ul>
  <ul>
    <li class="contacts-btn1"></li>
    <li class="contacts-btn2"></li>
  </ul>
</section>
