<section class="container">
  <ul>
    <li class="contacts-wrapper">
      <div class="contact-location">
        <p class="contact_heading">Cafe</p>
        <h4 class="contact_heading-h4">Chicago</h4>
        <a href="" class="contacts__adress-link"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </div>
      <div class="contacts-worktime">
        <p>
          Monday-Friday
          <span class="block">
            <time class="time-zone" datetime="06:00">06:00 AM -</time
            ><time class="time-zone" datetime="10:00">10:00 PM</time></span
          >
          Saturday-Sunday
          <span class="block">
            <time class="time-zone" datetime="06:00">06:00 AM -</time
            ><time class="time-zone" datetime="10:00">10:00 PM</time></span
          >
        </p>
      </div>
      <div class="contacts-contacts">
        <a href="tel:123456789" class=""></a>123456789<a href="mailto:notreaplay@wp.pl" class=""
          >notreplay@wp.pl</a
        >
      </div>
    </li>
    <li class="contacts-wrapper">
      <div class="contact-location">
        <p class="contact_heading">Foodtrack</p>
        <h4 class="contact_heading-h4">Chicago</h4>
        <a href="" class="contacts__adress-link"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </div>
      <div class="contacts-worktime">
        <p>
          Monday-Friday
          <span class="block">
            <time class="time-zone" datetime="06:00">06:00 AM -</time
            ><time class="time-zone" datetime="10:00">10:00 PM</time></span
          >
          Saturday-Sunday
          <span class="block">
            <time class="time-zone" datetime="06:00">06:00 AM -</time
            ><time class="time-zone" datetime="10:00">10:00 PM</time></span
          >
        </p>
      </div>
      <div class="contacts-contacts">
        <a href="tel:123456789" class=""></a>123456789<a href="mailto:notreaplay@wp.pl" class=""
          >notreplay@wp.pl</a
        >
      </div>
    </li>
    <li class="contacts-wrapper">
      <div class="contact-location">
        <p class="contact_heading">Cafe</p>
        <h4 class="contact_heading-h4">Chicago</h4>
        <a href="" class="contacts__adress-link"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </div>
      <div class="contacts-worktime">
        <p>
          Monday-Friday
          <span class="block">
            <time class="time-zone" datetime="06:00">06:00 AM -</time
            ><time class="time-zone" datetime="10:00">10:00 PM</time></span
          >
          Saturday-Sunday
          <span class="block">
            <time class="time-zone" datetime="06:00">06:00 AM -</time
            ><time class="time-zone" datetime="10:00">10:00 PM</time></span
          >
        </p>
      </div>
      <div class="contacts-contacts">
        <a href="tel:123456789" class=""></a>123456789<a href="mailto:notreaplay@wp.pl" class=""
          >notreplay@wp.pl</a
        >
      </div>
    </li>
  </ul>
  <ul>
    <li class="contacts-btn1"></li>
    <li class="contacts-btn2"></li>
  </ul>
</section>
