<section class="container">
  <div class="swiper">
    <img src="#" alt="#" />
    <p class="review-discription">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, debitis tempore dolore
      accusantium aliquid dolorum.
    </p>
    <p class="reviwer-name"></p>
    <img src="#" alt="#" />
    <p class="review-discription">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, debitis tempore dolore
      accusantium aliquid dolorum.
    </p>
    <p class="reviwer-name"></p>
    <img src="#" alt="#" />
    <p class="review-discription">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, debitis tempore dolore
      accusantium aliquid dolorum.
    </p>
    <p class="reviwer-name"></p>
    <ul>
      <li class="puggination-btn"></li>
      <li class="puggination-btn"></li>
      <li class="puggination-btn"></li>
    </ul>
  </div>
</section>
