<section class="footer-section">
  <div class="container">
    <p class="footer-text">Domowej roboty kebabisko</p>
    <h3 class="footer-title">ZROBIONY Z PASJĄ</h3>
    <div class="social-media-section">
      <ul class="social-media-list">
        <li>
          <a href="x">
            <svg width="12px" height="12px">
              <use href="/src/images/icons.svg#icon-github-1"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="x">
            <svg width="12px" height="12px">
              <use href="/src/images/icons.svg#icon-telegram-1"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="x">
            <svg width="12px" height="12px">
              <use href="/src/images/icons.svg#icon-facebook-1"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="contact-info">
        Hej ! Zadzwoń do nas!
        <a href="tel:123456789">123-456-789</a>
      </p>
    </div>
    <div class="copyrights-section">
      <p class="copyright-p">© 2022 - Kebab Doner. All Rights Reserved.</p>
    </div>
  </div>
</section>

<!-- 
<li>
  <a href="#">
    <svg class="social-media-icon">
      </svg
  ></a>
</li> -->
