<section class="container">
  <div class="footer_wrapper">
    <p class="footer__header-p">Domowy kebab w każdym polskim domu!</p>
    <h2 class="footer__header">Z pasji do kebabów</h2>
    <ul>
      <li class="socialmedia-list-item">
        <svg widht="10px" height="10px">
          <use></use>
        </svg>
      </li>
      <li class="socialmedia-list-item">
        <svg widht="10px" height="10px">
          <use></use>
        </svg>
      </li>
      <li class="socialmedia-list-item">
        <svg widht="10px" height="10px">
          <use></use>
        </svg>
      </li>
    </ul>
    <p class="footer-disc">Śmiało zadzwoń do nas!</p>
  </div>
  <div class="copyrights-section">
    <p class="copyright-p">© 2022 - Kebab Doner. All Rights Reserved.</p>
  </div>
</section>
