<section class="footer-section">
  <div class="container">
    <p class="footer-text">Domowej roboty kebabisko</p>
    <h3 class="footer-title">ZROBIONY Z PASJĄ</h3>
    <div class="social-media-section">
      <svg>
        <use
          href="/src/images/icons.svg#icon-github-1"
          class="social-media-icon"
          width="10px"
          height="10px"
        ></use>
      </svg>
      <svg>
        <use
          href="/src/images/icons.svg#icon-telegram-1"
          class="social-media-icon"
          width="10px"
          height="10px"
        ></use>
      </svg>
      <svg>
        <use
          href="/src/images/icons.svg#icon-facebook-1"
          class="social-media-icon"
          width="10px"
          height="10px"
        ></use>
        <p class="contact-info">
          Hej ! Zadzwoń do nas!
          <a href="tel:123456789">123-456-789</a>
        </p>
      </svg>
    </div>
    <div class="copyrights-section">
      <p class="copyright-p">© 2022 - Kebab Doner. All Rights Reserved.</p>
    </div>
  </div>
</section>
