<section class="container">
  <p class="prod-heading-p">100% naturalnych składników</p>
  <h2 class="prod-heading">Menu</h2>
  <ul>
    <li>
      <img src="#" alt="#" />
      <h3 class="product__list-heading">Rollo</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas optio at esse. Facilis impedit
        vitae tempore repellat eligendi rem ipsam.
      </p>
      <button type="button" class="products__modal-btn"></button>
    </li>
    <li>
      <img src="#" alt="#" />
      <h3 class="product__list-heading">Na talerzu</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas optio at esse. Facilis impedit
        vitae tempore repellat eligendi rem ipsam.
      </p>
      <button type="button" class="products__modal-btn"></button>
    </li>
    <li>
      <img src="#" alt="#" />
      <h3 class="product__list-heading">Pita</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas optio at esse. Facilis impedit
        vitae tempore repellat eligendi rem ipsam.
      </p>
      <button type="button" class="products__modal-btn"></button>
    </li>
  </ul>
</section>
