<section class="container">
  <p class="prod-heading-p">100% naturalnych składników</p>
  <h2 class="prod-heading">Menu</h2>
  <ul class="products-list">
    <li class="">
      <img class="prod-img" src="/src/images/products/kjebab.jpg" alt="#" />
      <h3 class="product__list-heading">Rollo</h3>
      <p class="products-border">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas optio at esse. Facilis impedit
        vitae tempore repellat eligendi rem ipsam.
      </p>
      <button type="button" class="products__modal-btn">Placeholder for button</button>
    </li>
    <li class="">
      <img class="prod-img" src="/src/images/products/kjebab.jpg" alt="#" />
      <h3 class="product__list-heading">Na talerzu</h3>
      <p class="products-border">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas optio at esse. Facilis impedit
        vitae tempore repellat eligendi rem ipsam.
      </p>
      <button type="button" class="products__modal-btn">Placeholder for button</button>
    </li>
    <li class="">
      <img class="prod-img" src="/src/images/products/kjebab.jpg" alt="#" />
      <h3 class="product__list-heading">Pita</h3>
      <p class="products-border">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas optio at esse. Facilis impedit
        vitae tempore repellat eligendi rem ipsam.
      </p>
      <button type="button" class="products__modal-btn">Placeholder for button</button>
    </li>
  </ul>
</section>
